@font-face {
    font-family: 'But';
    src: url('../assets/fonts/Butler/Butler_Black.otf') format('opentype');
}

@font-face {
    font-family: 'Rob';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rob Black';
    src: url('../assets/fonts/Roboto-Black.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
}

hr {
    width: 135%;
}

h1 {
    font-family: 'But';
    font-size: 112px;
    margin-top: 0.2%;
    margin-left: 20%;
}

h3 {
    font-family: 'But';
    font-size: 45px;
    margin-left: 20%;
}

marquee {
    font-family: 'But';
    font-size: 30px;
    color: white;
    background: #003049;
    margin-bottom: -7.4%;
    bottom: 0;
}

.openbtn {
    position: relative;
    font-size: 15px;
    background-color: #003049;
    font-family: 'But';
    border-radius: 100%;
    padding: 23px 7px;
    margin-top: 1%;
    margin-left: 95%;
    color: white;
    border: none;
    cursor: pointer;
}

.about-text {
    font-family: 'Rob';
    font-size: 25px;
    width: 60%;
    margin-bottom: 4.5%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center left;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    left: 95%;
    text-decoration: none;
    font-size: 118px;
    color: black;
    display: block;
    transition: 0.3s;
    line-height: 64%;
    font-family: 'But';
}

.overlay a:hover,
.overlay a:focus {
    color: #9d0208;
}

.overlay .closebtn {
    position: absolute;
    top: 5px;
    right: 45px;
    font-size: 54px
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
/* @media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
} */